<a href="https://colab.research.google.com/github/a-forty-two/DFE6/blob/main/02_Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
# PANEL DATAFRAMES-> library that allows us to manipulate data
# read from multiple data sources
# converts into a rectangular data structure-> tabular-> rows and columns
# DataFrame

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/cylons/master/data.csv')

In [3]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [4]:
data.tail()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
564  926424         M  ...                  0.07115          NaN
565  926682         M  ...                  0.06637          NaN
566  926954         M  ...                  0.07820          NaN
567  927241         M  ...                  0.12400          NaN
568   92751         B  ...                  0.07039          NaN

[5 rows x 33 columns]

In [5]:
data.head(3)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN

[3 rows x 33 columns]

In [6]:
data.tail(1)

        id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
568  92751         B  ...                  0.07039          NaN

[1 rows x 33 columns]

In [7]:
data.describe()

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]

In [8]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [9]:
# SLICE and DICE-> 
# LOCATION by NAME: loc
# OR
# INDEX of LOCATION: iloc

In [35]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [31]:
stats = data.describe().T
stats

                         count          mean  ...           75%           max
id                       569.0  3.037183e+07  ...  8.813129e+06  9.113205e+08
radius_mean              569.0  1.412729e+01  ...  1.578000e+01  2.811000e+01
texture_mean             569.0  1.928965e+01  ...  2.180000e+01  3.928000e+01
perimeter_mean           569.0  9.196903e+01  ...  1.041000e+02  1.885000e+02
area_mean                569.0  6.548891e+02  ...  7.827000e+02  2.501000e+03
smoothness_mean          569.0  9.636028e-02  ...  1.053000e-01  1.634000e-01
compactness_mean         569.0  1.043410e-01  ...  1.304000e-01  3.454000e-01
concavity_mean           569.0  8.879932e-02  ...  1.307000e-01  4.268000e-01
concave points_mean      569.0  4.891915e-02  ...  7.400000e-02  2.012000e-01
symmetry_mean            569.0  1.811619e-01  ...  1.957000e-01  3.040000e-01
fractal_dimension_mean   569.0  6.279761e-02  ...  6.612000e-02  9.744000e-02
radius_se                569.0  4.051721e-01  ...  4.789000e-01  2.873000e+00
texture_se               569.0  1.216853e+00  ...  1.474000e+00  4.885000e+00
perimeter_se             569.0  2.866059e+00  ...  3.357000e+00  2.198000e+01
area_se                  569.0  4.033708e+01  ...  4.519000e+01  5.422000e+02
smoothness_se            569.0  7.040979e-03  ...  8.146000e-03  3.113000e-02
compactness_se           569.0  2.547814e-02  ...  3.245000e-02  1.354000e-01
concavity_se             569.0  3.189372e-02  ...  4.205000e-02  3.960000e-01
concave points_se        569.0  1.179614e-02  ...  1.471000e-02  5.279000e-02
symmetry_se              569.0  2.054230e-02  ...  2.348000e-02  7.895000e-02
fractal_dimension_se     569.0  3.794904e-03  ...  4.558000e-03  2.984000e-02
radius_worst             569.0  1.626919e+01  ...  1.879000e+01  3.604000e+01
texture_worst            569.0  2.567722e+01  ...  2.972000e+01  4.954000e+01
perimeter_worst          569.0  1.072612e+02  ...  1.254000e+02  2.512000e+02
area_worst               569.0  8.805831e+02  ...  1.084000e+03  4.254000e+03
smoothness_worst         569.0  1.323686e-01  ...  1.460000e-01  2.226000e-01
compactness_worst        569.0  2.542650e-01  ...  3.391000e-01  1.058000e+00
concavity_worst          569.0  2.721885e-01  ...  3.829000e-01  1.252000e+00
concave points_worst     569.0  1.146062e-01  ...  1.614000e-01  2.910000e-01
symmetry_worst           569.0  2.900756e-01  ...  3.179000e-01  6.638000e-01
fractal_dimension_worst  569.0  8.394582e-02  ...  9.208000e-02  2.075000e-01
Unnamed: 32                0.0           NaN  ...           NaN           NaN

[32 rows x 8 columns]

In [ ]:
#1. read -> data = pd.read_csv
#2. mu and sigma -> data.describe()
#3. ndata = (data-mu) / sigma

In [ ]:
xdata = pd.read_csv('data.csv')
mu,sigma = xdata.describe().T['mean'] , xdata.describe().T['std']
norm_xdata = (xdata - mu)/sigma

In [32]:
mu = stats['mean']
sigma = stats['std']

In [33]:
normdata = (data - mu)/sigma

In [34]:
normdata.head()

   Unnamed: 32  area_mean    area_se  ...  texture_mean  texture_se  texture_worst
0          NaN  -4.262403  -8.546744  ...     -6.719312   -7.214197      -5.240587
1          NaN  -3.338883 -10.290386  ...     -5.001121   -7.524902      -4.251368
2          NaN  -3.688400  -9.851838  ...     -4.192013   -7.428826      -3.906442
3          NaN  -6.009705 -11.320260  ...     -4.394290   -6.759741      -3.748623
4          NaN  -3.421289  -9.842825  ...     -5.798603   -7.438978      -5.347970

[5 rows x 33 columns]

In [10]:
data.loc[: , 'diagnosis']

0      M
1      M
2      M
3      M
4      M
      ..
564    M
565    M
566    M
567    M
568    B
Name: diagnosis, Length: 569, dtype: object

In [11]:
data.iloc[ : , 1 ]

0      M
1      M
2      M
3      M
4      M
      ..
564    M
565    M
566    M
567    M
568    B
Name: diagnosis, Length: 569, dtype: object

In [14]:
meandata = data.iloc[ :, :12]

In [15]:
meandata.head()

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883

[5 rows x 12 columns]

In [16]:
datawithoutlabel = data.loc[:, ['id', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean'] ]
datawithoutlabel.head()

         id  radius_mean  ...  symmetry_mean  fractal_dimension_mean
0    842302        17.99  ...         0.2419                 0.07871
1    842517        20.57  ...         0.1812                 0.05667
2  84300903        19.69  ...         0.2069                 0.05999
3  84348301        11.42  ...         0.2597                 0.09744
4  84358402        20.29  ...         0.1809                 0.05883

[5 rows x 11 columns]

In [17]:
data.to_csv('nice.csv')

In [18]:
data = pd.read_csv('data.csv')

In [19]:
corr = data.corr()

In [20]:
corr

                               id  ...  Unnamed: 32
id                       1.000000  ...          NaN
radius_mean              0.074626  ...          NaN
texture_mean             0.099770  ...          NaN
perimeter_mean           0.073159  ...          NaN
area_mean                0.096893  ...          NaN
smoothness_mean         -0.012968  ...          NaN
compactness_mean         0.000096  ...          NaN
concavity_mean           0.050080  ...          NaN
concave points_mean      0.044158  ...          NaN
symmetry_mean           -0.022114  ...          NaN
fractal_dimension_mean  -0.052511  ...          NaN
radius_se                0.143048  ...          NaN
texture_se              -0.007526  ...          NaN
perimeter_se             0.137331  ...          NaN
area_se                  0.177742  ...          NaN
smoothness_se            0.096781  ...          NaN
compactness_se           0.033961  ...          NaN
concavity_se             0.055239  ...          NaN
concave points_se        0.078768  ...          NaN
symmetry_se             -0.017306  ...          NaN
fractal_dimension_se     0.025725  ...          NaN
radius_worst             0.082405  ...          NaN
texture_worst            0.064720  ...          NaN
perimeter_worst          0.079986  ...          NaN
area_worst               0.107187  ...          NaN
smoothness_worst         0.010338  ...          NaN
compactness_worst       -0.002968  ...          NaN
concavity_worst          0.023203  ...          NaN
concave points_worst     0.035174  ...          NaN
symmetry_worst          -0.044224  ...          NaN
fractal_dimension_worst -0.029866  ...          NaN
Unnamed: 32                   NaN  ...          NaN

[32 rows x 32 columns]

In [25]:
stats = meandata.describe().T
stats

                        count          mean  ...           75%           max
id                      569.0  3.037183e+07  ...  8.813129e+06  9.113205e+08
radius_mean             569.0  1.412729e+01  ...  1.578000e+01  2.811000e+01
texture_mean            569.0  1.928965e+01  ...  2.180000e+01  3.928000e+01
perimeter_mean          569.0  9.196903e+01  ...  1.041000e+02  1.885000e+02
area_mean               569.0  6.548891e+02  ...  7.827000e+02  2.501000e+03
smoothness_mean         569.0  9.636028e-02  ...  1.053000e-01  1.634000e-01
compactness_mean        569.0  1.043410e-01  ...  1.304000e-01  3.454000e-01
concavity_mean          569.0  8.879932e-02  ...  1.307000e-01  4.268000e-01
concave points_mean     569.0  4.891915e-02  ...  7.400000e-02  2.012000e-01
symmetry_mean           569.0  1.811619e-01  ...  1.957000e-01  3.040000e-01
fractal_dimension_mean  569.0  6.279761e-02  ...  6.612000e-02  9.744000e-02

[11 rows x 8 columns]

In [26]:
datamean = stats['mean']
datastd = stats['std']

In [27]:
#z-score: (x-mean)/std
norm_data = (meandata - datamean)/datastd

In [28]:
norm_data

     area_mean  compactness_mean  ...  symmetry_mean  texture_mean
0     0.983510          3.280628  ...       2.215566     -2.071512
1     1.907030         -0.486643  ...       0.001391     -0.353322
2     1.557513          1.052000  ...       0.938859      0.455786
3    -0.763792          3.399917  ...       2.864862      0.253509
4     1.824624          0.538866  ...      -0.009552     -1.150804
..         ...               ...  ...            ...           ...
564   2.341795          0.218868  ...      -0.312314      0.720838
565   1.722326         -0.017817  ...      -0.217473      2.083301
566   0.577445         -0.038646  ...      -0.808406      2.043775
567   1.733693          3.269267  ...       2.135315      2.334403
568  -1.346604         -1.149741  ...      -0.819349      1.220718

[569 rows x 12 columns]

In [29]:
norm_data[norm_data > 3]

     area_mean  compactness_mean  ...  symmetry_mean  texture_mean
0          NaN          3.280628  ...            NaN           NaN
1          NaN               NaN  ...            NaN           NaN
2          NaN               NaN  ...            NaN           NaN
3          NaN          3.399917  ...            NaN           NaN
4          NaN               NaN  ...            NaN           NaN
..         ...               ...  ...            ...           ...
564        NaN               NaN  ...            NaN           NaN
565        NaN               NaN  ...            NaN           NaN
566        NaN               NaN  ...            NaN           NaN
567        NaN          3.269267  ...            NaN           NaN
568        NaN               NaN  ...            NaN           NaN

[569 rows x 12 columns]